<div id= "intro">
  <h1> SKIZZLE</h1>
<h4> Lets play some Skizzle! </h4>
</div>
<% if @player_a.score >= @player_b.score %>
<TABLE border="0">
<tr>
<th><strong><u>Name</u></strong></th><th><strong><u>Score</u></strong></th>
</tr>
<tr>
<td><%= @player_a.name.capitalize %></td><td align="center"><%= @player_a.score %> </td>
</tr>
<tr>
<td><%= @player_b.name.capitalize %></td><td align="center"><%= @player_b.score %> </td>
</tr>
</TABLE>
<% end %>

<% if @player_b.score > @player_a.score %>
<TABLE border="0">
<tr>
<th><strong><u>Name</u></strong></th><th><strong><u>Score</u></strong></th>
</tr>
<tr>
<td><%= @player_b.name.capitalize %></td><td align="center"><%= @player_b.score %> </td>
</tr>
<tr>
<td><%= @player_a.name.capitalize %></td><td align="center"><%= @player_a.score %> </td>
</tr>
</TABLE>
<% end %>
<div class="container">
<ul>
    <% if @player_a.active == "true" || @player_a.active == "t" %>
  <li><img src="/<%= @roll1.value %>.png" alt="the roll"><img src="/<%= @roll2.value %>.png" alt="the roll"><img src="/<%= @roll3.value%>.png" alt="the roll"><img src="/<%= @roll4.value %>.png" alt="the roll"><img src="/<%= @roll5.value %>.png" alt="the roll"><img src="/<%= @roll6.value %>.png" alt="the roll"><li>
    <li><%= @player_a.name.capitalize %> its your roll</li><br>
 <li> Total Score: <%= @player_a.score %></li><br>
    <li><form id="button" method="post" action="/game/playerstwo/<%= @game.id %>/<%= @player_a.id%>/<%=@player_b.id%>/rolls/1/<%=@player_a.name%>">
    <input id="button" type="submit" value="Roll the Die">
  </form></li>
    <% end %>
    <% if @player_b.active == "t" || @player_b.active == "true" %>
  <li><img src="/<%= @roll1b.value %>.png" alt="the roll"><img src="/<%= @roll2b.value %>.png" alt="the roll"><img src="/<%= @roll3b.value%>.png" alt="the roll"><img src="/<%= @roll4b.value %>.png" alt="the roll"><img src="/<%= @roll5b.value %>.png" alt="the roll"><img src="/<%= @roll6.value %>.png" alt="the roll"><li>
    <li><%= @player_b.name.capitalize %> its your roll</li>
  <li>Your Total Score: <%= @player_b.score %></li>
    <li><form id="button" method="post" action="/game/playerstwo/<%= @game.id %>/<%= @player_a.id%>/<%=@player_b.id%>/rolls/2/<%=@player_a.name%>">
    <input id="button" type="submit" value="Roll the Die">
  </form></li>
  <% end %>
</ul>
</div>

<div id='footer'>
<h6><a href="/"> Save Scores & End Game </a></h6>
</div>
